<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bank.mapper.AccountMapper">
   
	<select id="selectAllAccounts" resultType="com.bank.dto.AccountDTO">
        SELECT * FROM accounts;
    </select>

    <select id="selectAccountById" parameterType="int" resultType="com.bank.dto.AccountDTO">
        SELECT id, account_name, account_no, money FROM Accounts WHERE id = #{id};
    </select>
	
    <insert id="insertAccount" parameterType="com.bank.dto.AccountDTO">
        INSERT INTO Accounts (account_name, account_no, money, user_id)
        VALUES (#{account_name}, #{account_no}, #{money}, #{user_id});
    </insert>

    <update id="updateAccount" parameterType="com.bank.dto.AccountDTO">
        UPDATE Accounts
        SET account_name = #{account_name},
            money = #{money}
        WHERE id = #{id};
    </update>

    <delete id="deleteAccount" parameterType="int">
        DELETE FROM Accounts WHERE id = #{id};
    </delete>
	
	<select id="checkAccountExists" resultType="int">
        SELECT COUNT(*) FROM Accounts WHERE account_no = #{account_no}
    </select>
	 
	<select id="existsByAccountNo" resultType="boolean">
    SELECT COUNT(*) > 0
    FROM accounts
    WHERE account_no = #{accountNo}
	</select>
	
	<select id="selectAccountsByUserId" parameterType="map" resultType="com.bank.dto.AccountDTO">
    SELECT id, account_name, account_no, money
    FROM Accounts
    WHERE user_id = #{userId}
    LIMIT #{offset}, #{size}
	</select>

	<select id="countAccountsByUserId" parameterType="int" resultType="int">
        SELECT COUNT(*) FROM accounts WHERE user_id = #{userId};
    </select>
	
</mapper>