<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bank.mapper.MemberMapper">
   
	
	<select id="idCheck" parameterType="string" resultType="MemberDTO">
	   select userid, username, password, email, address, roles
	   from Uesers
	   where userid = #{userid}
	</select>
	
	<insert id="memberAdd" parameterType="MemberDTO">
	   insert into Users (userid, password, username, email, address, roles)
	   values ( #{userid}, #{password}, #{username}, #{email}, #{address}, #{roles})
	</insert>
	
	<update id="memberUpdate" parameterType="MemberDTO">
		update Users set address=#{address}, username=#{username}
		where userid = #{userid} 
		
	</update>
	
	 
	 
	<select id="login" parameterType="hashmap" resultType="MemberDTO">
	   select userid, passwd
	   from Users
	   where userid = #{userid} and password = #{password}
	</select>
	 
	 
	 <select id="mypage" parameterType="string" resultType="MemberDTO">
		select userid
		from Users
		where userid = #{userid}
	 </select>
	 
	  
	 <select id="findByUserid" resultType="MemberDTO" parameterType="string">
	     select id, userid, password, username, email, address, roles
	     from Users
	     where userid=#{userid}
	 </select>
	 
	 </mapper>