<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>ShopMiniMall</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MainServlet</display-name>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>com.controller.MainServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>MemberUIServlet</servlet-name>
    <servlet-class>com.controller.MemberUIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MemberIdCheckServlet</servlet-name>
    <servlet-class>com.controller.MemberIdCheckServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>MemberAddServlet</servlet-name>
    <servlet-class>com.controller.MemberAddServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>LoginUIServlet</servlet-name>
    <servlet-class>com.controller.LoginUIServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.controller.LoginServlet</servlet-class>
  </servlet>
  
    <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.controller.LogoutServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>MyPageServlet</servlet-name>
    <servlet-class>com.controller.MyPageServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>GoodsRetrieveServlet</servlet-name>
    <servlet-class>com.controller.GoodsRetrieveServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>CartAddServlet</servlet-name>
    <servlet-class>com.controller.CartAddServlet</servlet-class>
  </servlet>
  
   <servlet>
    <servlet-name>CartListServlet</servlet-name>
    <servlet-class>com.controller.CartListServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>CartDeleteServlet</servlet-name>
    <servlet-class>com.controller.CartDeleteServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>CartDeleteAllServlet</servlet-name>
    <servlet-class>com.controller.CartDeleteAllServlet</servlet-class>
  </servlet>
  
  
  <servlet>
    <servlet-name>OrderConfirmServlet</servlet-name>
    <servlet-class>com.controller.OrderConfirmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderConfirmServlet</servlet-name>
    <url-pattern>/orderConfirm</url-pattern>
  </servlet-mapping>
  
  
  <servlet-mapping>
    <servlet-name>CartDeleteAllServlet</servlet-name>
    <url-pattern>/cartDeleteAll</url-pattern>
  </servlet-mapping>
  
  
  <servlet-mapping>
    <servlet-name>CartDeleteServlet</servlet-name>
    <url-pattern>/cartDelete</url-pattern>
  </servlet-mapping>
  
  
  <servlet-mapping>
    <servlet-name>CartListServlet</servlet-name>
    <url-pattern>/cartList</url-pattern>
  </servlet-mapping>
  
  
  
  
  <servlet-mapping>
    <servlet-name>CartAddServlet</servlet-name>
    <url-pattern>/cartAdd</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet-mapping>
    <servlet-name>GoodsRetrieveServlet</servlet-name>
    <url-pattern>/goodsRetrieve</url-pattern>
  </servlet-mapping>
  
  
  
  
  <servlet-mapping>
    <servlet-name>MyPageServlet</servlet-name>
    <url-pattern>/mypage</url-pattern>
  </servlet-mapping>
  
  
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  
  
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>LoginUIServlet</servlet-name>
    <url-pattern>/loginForm</url-pattern>
  </servlet-mapping>
  
  
  <servlet-mapping>
    <servlet-name>MemberAddServlet</servlet-name>
    <url-pattern>/memberAdd</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>MemberIdCheckServlet</servlet-name>
    <url-pattern>/idCheck</url-pattern>
  </servlet-mapping>
  
  
  <servlet-mapping>
    <servlet-name>MemberUIServlet</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern>/main</url-pattern>
  </servlet-mapping>
</web-app>